@model WebApplication5.Models.EnergyUserSensorWithData

<div>
    <h4>EnergyUserSensorWithData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserSensorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserSensorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SensorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SensorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SensorText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SensorText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<hr />
<div>
    <h3>Sensor Data Archive</h3>
    @Html.PartialAsync("SensorData", Model.SensorData).Result
</div>
<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
